.content {
	width: 100%;
}

.contentheader {
	background-color: #E5ECF9;
	color: #333333;
	border: 1px solid #C1CFDD;
	width: 100%;
	height: 24px;
	font-family: Verdana;
	font-weight: bolder;
	padding-top: 3px;
}

#banner {
	border-style: none;
}

.contentBody {
	background-color: #f8f8ff;
	padding: 5px;
}

.button {
	float: left;
	margin: 0px 5px 0px 5px;
	padding: 3px;
	width: 8px;
	height: 8px;
	border: 1px black solid;
	background-color: white; .
	ui-icon -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.widget-wrapper {
	display: block;
}