body {
	font-family: helvetica;
	margin: 0;
	font-size: 0.8em;
}

div,span,p,textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

#container {
	margin: 20px 50px 0 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #d8d8d8;
}

#header {
	overflow: hidden;
	background: url("#{resource['images/bg.jpg']}") repeat-x left top;
}

#content {
	margin-left: 180px;
	margin-right: 10px;
	padding: 0px;
	text-align: left;
	vertical-align: top;
}

.block {
	display: block;
}

.ui-helper-clearfix:after {
	overflow: hidden;
	width: 100%;
	clear:none;
}

#vertmenu {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	width: 160px;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	float: left;
	background-color: #f8f8ff;
	border-right: 1px solid #f8f8ff;
	border-bottom: 1px solid #f8f8ff;
}

html>body		#vertmenu {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 160px;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	float: left;
	background-color: #f8f8ff;
	border-right: 1px solid #f8f8ff;
	border-bottom: 1px solid #f8f8ff;
}

#vertmenu p {
	display: block;
	background-color: #e5ecf9;
	font-size: 90%;
	font-weight: bold;
	padding: 3px 0 5px 5px;
	border: 1px solid #c1cfdd;
	color: #333333;
	margin: 0px 0px 0px 0px;
	width: 160px;
}

html>body		#vertmenu p {
	display: block;
	background-color: #e5ecf9;
	font-size: 90%;
	font-weight: bold;
	padding: 3px 0 5px 5px;
	border: 1px solid #c1cfdd;
	color: #333333;
	margin: 0px 0px 0px 0px;
	width: 160px;
}

#vertmenu ul {
	list-style: none;
	margin: 5px 0px 10px 5px;
	padding: 0px;
	border: none;
}

#vertmenu ul li {
	margin: 0px 0px 8px 0px;
	padding: 0px;
}

#vertmenu a {
	text-decoration: none;
}

#vertmenu a:hover {
	font-weight: bold;
	text-decoration: none;
	background: #6699ff;
	color: #ffffff;
	cursor: pointer;
}

#footer {
	clear: both;
	float: center;
	text-align: center;
	opacity: 0.20;
	margin: 100px 10px 0px 10px;
}

#footer:hover {
	clear: both;
	float: center;
	text-align: center;
	opacity: .80;
	margin: 100px 10px 0px 10px;
}

#footer a {
	text-decoration: none;
	color: black;
}

.riderPoints {
	color: black;
	text-decoration: none;
}

#smallText {
	font-size: 0.80em;
}

.bold {
	font-weight: bold;
}

html>body #smallText {
	font-size: 0.75em;
}

a:link {
	text-decoration: none;
}

a:hover {
	background: #6699ff;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
}

.ui-growl {
	position: fixed;
	top: 30px;
	left: 70%;
	z-index: 9999;
}

.widget-wrapper {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 0 0 20px;
	padding: 20px;
}

#anchor:hover {
	color: green;
	text-decoration: underline;
}

.width90 {
	width: 90px;
}

.width120 {
	width: 120px;
}

.width150 {
	width: 150px;
}

.pfDate {
	font-family: helvetica;
	margin: 0;
	font-size: 0.9em;
}